@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Light.woff");
  font-weight: light;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff");
  font-weight: regular;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Medium.woff");
  font-weight: medium;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Ailerons";
  src: url("./fonts/Ailerons-Regular.otf");
  font-weight: regular;
}

a {
  text-decoration: none;
  color: #EA9515;
}

body {
  background-color: #000000;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

h1 {
  color: #EA9515;
  font-size: 7rem;
  font-family: "Ailerons";
}

h2, h3, p {
  color: #A9B4C2;
}

h2 {
  font-family: "Ailerons";
  font-size: 3rem;
}

h3, p {
  font-family: "SpaceGrotesk";
}

h3 {
  font-size: 1.5rem;
}

/* ClassName */

.about-image {
  border-radius: 1rem;
  width: 700px;
}

.about-page-assets {
  display: flex;
  flex-direction: row;
}

.arrow {
  color: #EA9515;
}

.cards {
  max-width: 1200px;
  max-height: auto;
}

.contact-blurb {
  text-align: center;
}

.contact-blurb {
  font-size: 3rem;
}

.external-links {
  align-items: flex-end;
  display: flex;
  height: 450px;
  justify-content: space-evenly;
}

.flip-to-back {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

.flip-card {
  background-color: transparent;
  width: 163px;
  height: 195px;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
  height: 100%;
  /* -moz-backface-visibility: hidden; */
  position: absolute;
  transform: rotateX(0deg);
  width: 100%;
}

.flip-card-front {
  transform: rotateY(180deg);
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.nav-links {
  padding: 3% 5% 0%;
}

.orange-text {
  color: #EA9515;
}

.paragraph {
  line-height: calc(1.6rem * 1.5);
}

.port-head, .text-head {
  margin-bottom: 0%;
}

/* ID */

#blurb {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

#blurb-info {
  align-content: center;
  display: flex;
}

#card_bin {
  display: flex;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem black;
  height: 500px;
  margin: 0px 20px;
  overflow: hidden;
  width: 1200px;
}

#card_bin_holder {
  display: flex;
  justify-content: center;
}

#nav-list {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
}

#paragraphs {
  /* background-color: #5e6572; */
  border: 5px solid #5e6572;
  border-radius: 1rem;
  font-size: 1.6rem;
  margin-left: 5%;
  padding: 2%;
  width: 900px;
}

#pic-and-nav {
  display: flex;
  flex-direction: row;
}

#portfolio {
  display: flex;
  flex-direction: column;
}

#portfolio-nav {
  padding: 15%;
}

#project1, #project2, #project3, #project4, #project5, #project6 {
  position: relative;
  transition: left 1.5s ease 0s;
}

#standing_tie {
  border-radius: 50%;
  height: 600px;
  width: auto;
}

#tech-icons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}