@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Light.woff");
  font-weight: light;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff");
  font-weight: regular;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Medium.woff");
  font-weight: medium;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Ailerons";
  src: url("./fonts/Ailerons-Regular.otf");
  font-weight: regular;
}

a {
  text-decoration: none;
  color: #EA9515;
}

body {
  background-color: #000000;
  margin: 0%;
  padding: 0%;
}

h1 {
  color: #EA9515;
  font-size: 7rem;
  font-family: "Ailerons";
}

h2, h3, p {
  color: #A9B4C2;
}

h2 {
  font-family: "Ailerons";
  font-size: 3rem;
}

h3, p {
  font-family: "SpaceGrotesk";
}

h3 {
  font-size: 1.5rem;
}

/* ClassName */

.nav-links {
  padding: 3% 5% 0%;
}

/* ID */

#blurb {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

#blurb-info {
  align-content: center;
  display: flex;
}

#nav-list {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
}

#pic-and-nav {
  display: flex;
  flex-direction: row;
}

#portfolio-nav {
  padding: 15%;
}

#standing_tie {
  border-radius: 50%;
  height: 600px;
  width: auto;
}