
:root {
    --headings: 'Roboto', sans-serif;
    --articles: 'Source Sans Pro', sans-serif;
    --name: 'Cinzel', serif;
    font-size: 16pt;
}

html, body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* === Tags === */
h2, h3 {
    font-family: var(--name);
}

svg {
    width: 5%;
    height: auto
}

svg:hover .primary{
    fill:blue;
}

svg:hover .secondary {
    fill: green;
}

ul {
    list-style-type: none;
}

/* === Class === */
.about_para {
    padding-right: 5%;
    font-size: 1.25rem;
    font-family: var(--articles);
}

.cards {
    border-radius: 1rem;
}

.fa-envelope {
    font-size: 2rem;
    color: black;
}

.nav-links {
    text-decoration: none;
    color: transparent;
}

.nav-links:hover {
    text-shadow: none;
    color: white;
    cursor: pointer;
}

.primary {
    fill: green;
}

.scroll-snap {
    scroll-snap-align: end;
}

.secondary {
    fill: blue;
}

.section_header {
    text-align: center;
    font-size: 3rem;
    margin: 0%;
}

.shadow_it {
    box-shadow: 1rem 1rem 1rem black;
}

/* === ID === */

#about_flexbox {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#about_image {
    margin-left: 5%;
    border-radius: 1rem;
    opacity: .85;
}

#about_section {
    height: 100vh;
    background-color: rgba(245, 116, 10, 0.5);
}

#additional_blurb {
    text-align: right;
}

#background-intro {
    position: absolute;
    z-index: -1;
    background-color: rgba(95, 17, 17, 0.5);
    height: 100vh;
    width: 100vw;
}

#bootstrap, #CSS3, #firebase, #HTML5, #JS, #jquery, #node {
    opacity: .25;
} 

#card_bin {
    display: flex;
    width: 651px;
    height: 318px;
    margin: 0px 20px;
    box-shadow: 1rem 1rem 1rem black;
    border-radius: 1rem;
    overflow: hidden;
}

#card_bin_holder {
    display: flex;
    justify-content: center;
}

#contact_card {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(97, 4, 114, 0.5);
}

#navigation {
    position: absolute;
    top: 60%;
    font-family: var(--name);
    font-size: 2rem;
    text-shadow: 1px 1px 3px white;
}

#opening_blurb {
    padding-left: 10%;
    text-align: center;
}

#opening_card {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100vh;
}

#opening_image {
    width: 250px;
    border-radius: 1rem;
    opacity: .85;
    align-self: center;
}

#paragraphs {
    background-color: rgb(207, 123, 55);
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2%;
    margin-right: 5%;
}

#project1, #project2, #project3, #project4, #project5, #project6 {
    position: relative;
    transition: left 1.5s ease 0s;
}

#tech_icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#tech_port {
    height: 100vh;
    background-color: rgba(224, 241, 69, 0.5);
}

#triangle-left {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 0%;
    border-top: 200px solid rgba(251, 12, 12, 0.5);
    border-left: 100px solid transparent;
    border-bottom: 820px solid rgba(251, 12, 12, 0.5);
    border-right: 800px solid transparent;
}

#triangle-right {
    position: fixed;
    top: 0%;
    left: 63%;
    width: 0%;
    height: 0%;
    border-top: 1000px solid rgba(251, 12, 12, 0.5);
    border-left: 800px solid transparent;
}

#total-content {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

@media screen and (max-width: 1550px) {
    #opening_blurb {
        padding: 0% 5% 0% 20%;
    }
}

@media screen and (max-width: 1350px) {
    .about_para {
        font-size: 1rem;
    }
    #paragraphs {
        height: 75vh;
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1050px) {
    #about_image {
        width: 250px;
        height: auto;
    }
    #paragraphs {
        width: 90%;
        margin-left: 0%;
    }
    .section_header {
        font-size: 2rem;
    }
    #total-content {
        scroll-snap-type: none;
    }
}

@media screen and (max-width: 900px) {
    #about_image {
        width: 200px;
        height: auto;
    }
    #paragraphs {
        width: 95%;
        margin-left: 0%;
    }
    #opening_blurb {
        padding: 0% 5% 0% 30%;
        font-size: 1rem;
        text-align: right;
    }
    #additional_blurb {
        font-size: .75rem;
    }
}

@media screen and (max-width: 775px) {
    svg {
        display: none;
    }
    .tech_card {
        width: 75px;
        height: 100px;
    }
    #about_flexbox {
        display: inline;
    }
    #about_image {
        display: none;
    }
    .about_para {
        font-size: .8rem;
    }
    #card_bin {
        overflow-x: scroll;
        margin-top: 10%;
    }
    #navigation {
        font-size: 1rem;
        top: 20%;
    }
    #opening_image{
        align-self: flex-end;
        margin-right: 5%;
    }
    #paragraphs {
        width: 60%;
        margin-left: 30%;
    }
    #take_a_look {
        margin-top: 25%;
    }
}

@media screen and (max-width: 675px) {
    #card_bin {
        width: 550px;
    }
    .project_card {
        width: 550px;
    }
}

@media screen and (max-width: 550px) {
    .tech_card {
        width: 50px;
        height: 75px;
    }
    #navigation {
        display: none;
    }
    #opening_image {
        align-self: center;
    }
    #opening_blurb, #additional_blurb {
        text-align: center;
        padding: 0% 2%;
    }
    #paragraphs {
        width: 90%;
        margin: 0%;
    }
}