:root {
  --ff-base: 'Arial';
  --ff-header: 'Georgia';
  --ff-standout: 'Comic Sans';
  --fs-base: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem 2rem;
}

img {
  max-width: 100%;
}